[Unit]
Description=Automatic Brightness Adjustment Service
After=network.target

[Service]
# Adjust the cli arguments on the following line
ExecStart=/usr/local/bin/auto-brightness --set-integration
Restart=always

[Install]
WantedBy=multi-user.target